:root {
  --white: #ffffff;
  --primary-dark-orange: #f15b0a;
  --secondary-dark-orange: #f1860f;
  --light-orange: #f19e12;
  --secondary-blue: #09b1d8;
  --primary-blue: #0b9cd8;
  --prussian-blue: #03293a;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--white);
  color: var(--prussian-blue);
  line-height: 1.5;
  font-size: 0.875rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
}
.underline {
  background-color: var(--primary-blue);
  width: 7rem;
  height: 0.8rem;
}
.selected {
  color: var(--primary-dark-orange);
}

.type {
  color: var(--prussian-blue);
}

.type:hover {
  /* background-color: var(--light-orange);
  color: var(--white); */

  border-bottom: 2px solid var(--primary-dark-orange);
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
}

.categories {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  font-size: 1rem;
}

.card {
  display: flex;
  align-items: flex-start;
  padding: 2rem;
  margin: 1rem;
  max-width: 40vw;
  background-color: var(--white);
  border: 2px solid var(--primary-dark-orange);
}

.card img {
  max-width: 15rem;
  max-height: 10rem;
  border: 2px solid var(--secondary-dark-orange);
}
.info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px var(--primary-blue) dotted;
  padding-bottom: 1rem;
}

.title {
  font-size: 1.25rem;
}

.price {
  color: var(--primary-blue);
}

.desc {
  font-size: 0.8rem;
}
